<nav class="navbar navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">Warehouse Management</a>
    <form class="form-inline">
      <div style="padding-left: 10px;">
        <%= link_to 'Add Warehouse', new_ware_house_path, class: 'btn btn-outline-success navbar-button' %>
      </div>
    </form>
  </div>
</nav>